<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Post</title>
    <link rel="stylesheet" href="/css/style.css"/>
</head>
<body>
    <h1 class="title">Add New Post</h1>
    <section class="form-section">
        <form action="/admin" method="post">
            <div>
                <label for="title">Enter Title</label>
                <input type="text" id="title" name="title" required/>
            </div>
    
            <div>
                <label for="description">Enter Description</label>
                <input type="text" id="description" name="description" required/>
            </div>
    
            <div>
                <button>Add Post</button>
            </div>
        </form>
    </section>
</body>
</html>