<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post Page</title>
    <link rel="stylesheet" href="/css/style.css"/>
</head>
<body>
    <h1>I am Post Page</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam illo sunt dicta hic ipsum labore voluptates commodi aliquam obcaecati veritatis, placeat et reiciendis unde nam cum, ea accusamus, minima cupiditate.</p>
    <div>
        <a href="/admin/create-post">+Add New Post</a>
    </div>
</body>
</html>