@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*
{
    font-family: "Roboto", sans-serif;
}
body {
    background: #3D3D3D;
    color: #fff;
    font-size: larger;
}
.title {
    text-align: center;
}
.text {
    text-align: center;
    color: tomato;
}
a,button {
    text-decoration: none;
    background: #EA445A;
    color: #fff;
    width: fit-content;
    padding: 10px 15px;
    border-radius: 8px;
    margin: auto;
    border: #EA445A;
    font-size: large;
    cursor: pointer;
}
.form-section {
    justify-content: center;
    align-items: center;
    width: 30%;
    margin: auto;
    color: #fff;

}
.form-section div {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    
}
label {
    font-weight: 700;
    margin: 3px 0;
    color: #EA445A;
}
input,textarea {
    display: block;
    padding: 8px 15px;
    width: 100%;
    border-radius: 8px;
    font-size: large;
}
*:focus {
    outline: none;
}
.posts-box {
    border: 1px solid #EA445A;
    padding: 10px 20px 30px;
    border-radius: 8px;
    margin: 10px;
    background-color: #3D3D3D;
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.3);
    filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.3));
}
.post-title {
    font-size: larger;
    font-weight: 700;
    text-transform: uppercase;
    margin: 10px auto 0;
}
.post-user{
    font-size: smaller;
    font-weight: 400;
    margin: 2px auto 10px;
}
.post-desc {
    text-align: justify;
    color: rgb(189, 186, 186);
    padding-bottom: 5px;
}
.inform-msg {
    text-align: center;
    font-size: 25px;
    font-weight: 700;
}
.post-head-section {
    display: flex;
    flex-direction: row !important;
    justify-content: space-between;
    align-items: center;
}
.post_action{
    display: flex;
    flex-direction: row !important;
    justify-content: space-between;
    align-items: center;
}
.login-out-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}
.login-out-bar a {
    margin: 0 5px !important;
}
.error {
    color: red;
    text-align: center;
    font-size: larger;
    padding: 5px;
    border-radius: 8px;
}
.warning {
    color: orange;
    text-align: center;
    font-size: larger;
    padding: 5px;
    border-radius: 8px;
}
.no-style-a {
    background: unset !important;
    text-align: center;
    text-decoration: underline;
    font-style: italic;
    font-size: small;
    margin: 0 auto;
}
.post-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

.detail-img{
    object-position: 50% 50%;
    object-fit: cover;
    width: 100%;
    height: 50%;
    margin-top: 5px;
}
.detail-user-email,.detail-createdAt {
    font-size: small;
    padding: 3px;
    font-weight: 600;
    color: rgb(165, 158, 158);
}
.go-to-posts{
    align-items: center;
    width: 30%;
    margin: 30px auto;
}

.container {
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    margin: 20% auto;
}
